@import "../../style.scss";

.update {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 20, 0.5); // Semi-transparent background
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .wrapper {
    width: 100%;
    max-width: 400px; // Adjust max-width as needed for mobile devices
    height: 90%;
    max-height: 90vh; // Limit maximum height for smaller screens
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); // Adjust shadow properties
    overflow-y: auto; // Enable vertical scrolling if content exceeds height
    padding: 20px; // Adjust padding for spacing
    position: relative;

    h1 {
      color: #1b0606;
      font-size: 24px; // Adjust font size as needed for mobile devices
      margin-bottom: 15px; // Add spacing between elements
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .files {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; // Adjust gap between files for mobile devices
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .imgContainer {
          position: relative;

          img {
            width: 80px; // Adjust image size for mobile devices
            height: 80px;
            object-fit: cover;
          }

          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px; // Adjust icon size for mobile devices
            color: rgb(92, 88, 88);
            cursor: pointer;
          }
        }
      }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        color: #333;
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        background-color: #5271ff;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: #f0544f;
      padding: 5px;
      cursor: pointer;
      color: #fff;
    }
  }
}
