@import"../../style.scss";
.leftbar{
    // background-color: red;
    @include mobile{
        display: none;
    }
    flex :2;
    position: sticky;
    top :70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        padding: 20px;
    
    hr{
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        border-color: rgb(141, 130, 130);
    }    
        .menu{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .user{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;

                }
                span{
                    font-size: 16px;

                }
            }
            .item{
                display: flex;
                align-items: center;
                gap: 10px;
                img{

                }
                span{

                }
            }

        }
    }
}