@import"../../style.scss";
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    height: 50px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;


    .left{
    display: flex;
    align-items: center;
    gap: 30px;
        span{
            font-size: 26px;
            font-weight: bold;

        }
        .search{
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        gap: 10px;
        padding: 5px;
        @include tablet{
            margin-right: 14px;
        }
         input{
            border: none;
            width: 500px;

            @include mobile{
                display: none;
            }
            @include tablet{
                width: 282px;
            }
         }

        }

    }
    .right{
        display: flex;
        align-items: center;
        gap: 30px;

        @include mobile{
            display: none;

        }
        @include tablet{
            width: 200px;
        }
        .user{
            @include tablet{
                display: none;
            }
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 10px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;

            }
            span{

            }
        }

    }
}